body {
  /* background: rgb(252, 236, 196); */
  background: linear-gradient(
    45deg,
    rgba(252, 236, 196, 1) 0%,
    rgba(208, 175, 137, 1) 35%,
    rgba(170, 127, 90, 1) 100%
  );
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scores {
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0em;
}

.scores span {
  font-weight: bold;
}

.header h1 {
  margin: 0.5em;
  color: #a45c1e;
  text-shadow: 1px 1px #884b15;
}

.mainGrid {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
}

.singleItem {
  border: 2px solid #835d3c;
  border-radius: 1em;
  text-align: center;
  padding: 1em;
  cursor: pointer;
}

.singleItem p {
  font-weight: bold;
  font-size: medium;
}

.singleItem img {
  height: 8em;
  width: 8em;
}

footer {
  text-align: center;
  margin: 1em;
  font-style: italic;
}

footer a {
  text-decoration: none;
  color: #884b15;
  font-weight: 700;
}

footer a:hover {
  text-decoration: underline;
}
